extends layout

block layout-content
  div.View
    h1.Banner HADTech
    div.Message
      div.Title
        h3 Welcome to HADTech
        h1 E-learning Platform
      span.Details Access the Dashboard
    div.NavButtons
      a(href="/login")
          div.NavButton Just dive in!